{
	auto_https off
	admin off
}

:8080 {
	encode gzip
	reverse_proxy /notifications/hub <your backend name>.internal:3012
	reverse_proxy <your backend name>.internal:8080 {
		header_up X-Real-IP {remote_host}
	}
}
